<!-- start custom footer snippets -->
<div>
  <a href = "https://noaa-fisheries-integrated-toolbox.github.io/site-index">Site Index</a>
</div>
<div>
    <img src="https://raw.githubusercontent.com/nmfs-fish-tools/nmfspalette/main/man/figures/noaa-fisheries-rgb-2line-horizontal-small.png" width="200" style="height: 75px !important;"  alt="NOAA Fisheries Logo"> 
             | <a href="https://www.commerce.gov/">U.S. Department of Commerce</a> | 
           <a href="https://www.noaa.gov">NOAA</a> | 
           <a href="https://www.fisheries.noaa.gov/">NOAA Fisheries</a> |
  </div>
<!-- end custom footer snippets -->
