<!-- start custom footer snippets -->
<div>
    <img src="https://raw.githubusercontent.com/nmfs-general-modeling-tools/nmfspalette/main/man/figures/noaa-fisheries-rgb-2line-horizontal-small.png" width="200" style="height: 75px !important;"  alt="NOAA Fisheries Logo"> 
             | <a class ="mylink line" href="https://www.commerce.gov/">U.S. Department of Commerce</a> | 
           <a class ="mylink line" href="https://www.noaa.gov">NOAA</a> | 
           <a class ="mylink" href="https://www.fisheries.noaa.gov/">NOAA Fisheries</a> |
  </div>
<!-- end custom footer snippets -->
