<!-- start custom footer snippets -->
<div>
    <img src="https://raw.githubusercontent.com/noaa-fisheries-integrated-toolbox/FIT_graphics/main/NOAA_logos/NOAA_FISHERIES_H_white%20text.png" alt="NOAA Fisheries logo" width="200">
             | <a class ="mylink line" href="https://www.commerce.gov/">U.S. Department of Commerce</a> | 
           <a class ="mylink line" href="https://www.noaa.gov">NOAA</a> | 
           <a class ="mylink" href="https://www.fisheries.noaa.gov/">NOAA Fisheries</a> |
  </div>
<!-- end custom footer snippets -->