name: Check for Broken Links

on:
  workflow_dispatch:

permissions:
  issues: read

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for broken links
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --accept '200, 302, 401..=403' .
          fail: false
      